@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-gradient: linear-gradient(
    137.45deg,
    #b7f7e4 2.99%,
    #8ee8cd 10.57%,
    #20e8ac 22.93%,
    #f52a67 40.97%,
    #b11e75 61.07%,
    #220694 96.49%
  );
}

@layer base {
  .title {
    @apply font-bold capitalize text-4xl text-jet w-fit;
  }

  .subtitle {
    @apply font-semibold text-xl text-jet w-fit;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .background-gradient {
    @apply border-2 border-white;
    background: var(--custom-gradient);
  }

  .border-gradient {
    @apply border-2 border-transparent;
    background: linear-gradient(white, white) padding-box,
      var(--custom-gradient) border-box;
  }

  .text-gradient {
    background: var(--custom-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .reset-text-gradient {
    background: transparent;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
  }
}

@layer components {
  .button {
    @apply p-3 rounded-md font-semibold;
  }

  .button-filled {
    @apply button background-gradient text-white;
  }

  .button-outlined {
    @apply button border-gradient;
  }

  .error {
    @apply text-red-500;
  }
}

html {
  @apply min-h-screen;
}

body {
  @apply h-full bg-slate-100;
}

* {
  scrollbar-color: #20e8ac #b7f7e4;
  scrollbar-width: thin;
}
